<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<style>
  .wrapper {
    font-size: 16px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  a {
    color: #6FA80C;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  p.simple-iteration span {
    margin-right: 8px;
  }

  .link-btn {
    background-color: #8FC31F;
    color: #FFF;
    padding: 4px 8px 2px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
  }

  .name {
    margin: 24px 0 16px;
  }


  .name .value {
    font-size: 40px;
  }

  h3 {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 20px;
  }

  .id-list {
    line-height: 1.2;
    margin-top: 8px;
  }

  .id-list li {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .id-list span:first-child{
    margin-right: 10px;
  }
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;600&display=swap');
</style>

<div class="wrapper">
{{#if error}}
    <p>{{msg}}</p>
{{/if}}

{{#unless error}}

    <p class="gmo-id">
      <span class="key">GMO ID: </span>
      <span class="value">{{result.gmo_id}}</span>
    </p>
    <p class="name">
      <span class="value">{{result.pref_label}}</span>
    </p>

  {{#if result.alt_labels_en}}
      <p class="simple-iteration">Alternative labels:<br>
        {{#each result.alt_labels_en}}
          <span>{{value}}{{#unless @last}}, {{/unless}}</span>
        {{/each}}
      </p>
  {{/if}}

  {{#if result.properties}}
      <h3>Properties</h3>
      <p class="simple-iteration">
        {{#each result.properties}}
          <span>
            {{label_en}}{{#unless @last}}, {{/unless}}
          </span>
        {{/each}}
      </p>
  {{/if}}

  {{#if result.roles}}
      <h3>Functions</h3>
      <ul>
        {{#each result.roles}}
          <li>
            {{label_en}}
          </li>
        {{/each}}
      </ul>
  {{/if}}

  {{#if result.super_classes}}
      <h3>Super classes</h3>
      <ul class="id-list">
        {{#each result.super_classes}}
          <li>
            <span><a href="{{host}}/component/{{gmo_id}}">{{gmo_id}}</a></span>
            <span>{{label_en}} </span>
          </li>
        {{/each}}
      </ul>
  {{/if}}

  {{#if result.sub_classes}}
      <h3>Sub classes</h3>
      <ul class="id-list">
        {{#each result.sub_classes}}
          <li>
            <span><a href="{{host}}/component/{{gmo_id}}">{{gmo_id}}</a></span>
            <span>{{label_en}}</span>
          </li>
        {{/each}}
      </ul>
  {{/if}}


  {{#if result.links}}
      <h3>Links</h3>
      <p>
        {{#each result.links}}
          <a class="link-btn" href="{{uri}}" target="_blank">{{label}}</a>
        {{/each}}
      </p>
  {{/if}}

  </div>
{{/unless}}
