extends ../_template/_base

block vars
  - lev = 1
  - stanzaID = "gms_by_clstid";

block main
  input(type="text" value="26_200" data-param-key="clst_id")
  p.output
  .showcase_box
    <togostanza-gms_by_clstid clst_id="26_200"></togostanza-gms_by_clstid>
