extends ../_template/_base

block vars
  - stanzaID = "growth_medium";


block main
  input(type="text" value="NBRC_M1005" data-param-key="gm_id")
  .showcase_box
    <togostanza-growth_medium gm_id="NBRC_M1005"></togostanza-growth_medium>
