body.compare{
  .id-input{
    display: flex;
    padding: 16px;
    border:1px solid #ccc;
    border-radius: 10px;
    margin:16px;
    align-items: flex-end;
  }
  input[type="text"]{
    width: 600px;
    font-size: 16px;
    padding: 10px;
  }
  input[type="button"]{
    font-size: 16px;
    margin-left: 16px;
    padding: 0 10px;
    cursor: pointer;
    height: 42px
  }

  .error-msg{
    color: @color-red;
    margin-left: 16px;
    margin-bottom: 2px;
  }
}
