extends _template/_base

block vars
  - lev1ID = "about";

block main
  article
    h2 About
    p
      | There are hundreds of microbial culture collections maintained by biological resource centers (BRCs) in the world and currently 787 culture collections are listed in the Culture Collections Information Worldwide (CCINFO) provided by World Data Centre for Microorganisms (WDCM). These culture collections are not only essential infrastructure as the basis of carrying out microbial research but also valuable rich information sources such as microbial physiological and phenotypic information, which are described in the accompanying metadata of each microorganism. So far, as our collaborative efforts with BioResource Research Center, Riken and Biological Resource Center,  National Institute of Technology and Evaluation (NITE), metadata of their culture collections, henceforth JCM and NBRC, have been converted into RDF datasets. Both datasets are available at the NBDC RDF portal.
    p
      | Each metadata consists of the minimum data set description defined by the World Federation of Culture Collections (WFCC) Global Catalogue of Microorganisms (GCM) , which includes one or more links to the Web documents that describe how to prepare growth media for the corresponding microorganism. Along with the development of the RDF above mentioned, we have also independently developed an RDF dataset focusing on a set of ingredients of microbial growth media whose recipes are provided by JCM and NBRC. Based on the RDF datasets, recently, we have developed a new database of microbial growth media . In the report, we present the RDF model of growth media and the current status of the database.

  article
    h2 xxxxxx
    p
      | There are hundreds of microbial culture collections maintained by biological resource centers (BRCs) in the world and currently 787 culture collections are listed in the Culture Collections Information Worldwide (CCINFO) provided by World Data Centre for Microorganisms (WDCM). These culture collections are not only essential infrastructure as the basis of carrying out microbial research but also valuable rich information sources such as microbial physiological and phenotypic information, which are described in the accompanying metadata of each microorganism. So far, as our collaborative efforts with BioResource Research Center, Riken and Biological Resource Center,  National Institute of Technology and Evaluation (NITE), metadata of their culture collections, henceforth JCM and NBRC, have been converted into RDF datasets. Both datasets are available at the NBDC RDF portal.
    p
      | Each metadata consists of the minimum data set description defined by the World Federation of Culture Collections (WFCC) Global Catalogue of Microorganisms (GCM) , which includes one or more links to the Web documents that describe how to prepare growth media for the corresponding microorganism. Along with the development of the RDF above mentioned, we have also independently developed an RDF dataset focusing on a set of ingredients of microbial growth media whose recipes are provided by JCM and NBRC. Based on the RDF datasets, recently, we have developed a new database of microbial growth media . In the report, we present the RDF model of growth media and the current status of the database.

  article
    h2 xxxxxx
    p
      | There are hundreds of microbial culture collections maintained by biological resource centers (BRCs) in the world and currently 787 culture collections are listed in the Culture Collections Information Worldwide (CCINFO) provided by World Data Centre for Microorganisms (WDCM). These culture collections are not only essential infrastructure as the basis of carrying out microbial research but also valuable rich information sources such as microbial physiological and phenotypic information, which are described in the accompanying metadata of each microorganism. So far, as our collaborative efforts with BioResource Research Center, Riken and Biological Resource Center,  National Institute of Technology and Evaluation (NITE), metadata of their culture collections, henceforth JCM and NBRC, have been converted into RDF datasets. Both datasets are available at the NBDC RDF portal.
    p
      | Each metadata consists of the minimum data set description defined by the World Federation of Culture Collections (WFCC) Global Catalogue of Microorganisms (GCM) , which includes one or more links to the Web documents that describe how to prepare growth media for the corresponding microorganism. Along with the development of the RDF above mentioned, we have also independently developed an RDF dataset focusing on a set of ingredients of microbial growth media whose recipes are provided by JCM and NBRC. Based on the RDF datasets, recently, we have developed a new database of microbial growth media . In the report, we present the RDF model of growth media and the current status of the database.
