extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["component_by_gmoid", "media_by_gmoid"]

block main
  togostanza-component_by_gmoid#info(query="")
  togostanza-media_by_gmoid#media(query="")

block scripts
  script(src=`${pathToJS}component.js`)
