extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_component_by_gmoid", "gmdb_meta_list"]

block main
  h2 Component Information
  togostanza-gmdb_component_by_gmoid#info(gmo_id="")
  div#media.stanza-wrapper

block scripts
  script(src=`${pathToJS}component.js`)
