extends _template/_base

block vars
  - lev1ID = "compare";
  - stanzaIDs = ["gmdb-media-finder", "gmdb-media-alignment-table"]

block main
  div()
    h2 Compare
    fieldset.id-input
      input#ids(type="text", placeholder="HM_D00001,JCM_M333")
      input#compareBtn(type="button" value="compare")
    div.stanza-wrapper
      togostanza-gmdb-media-alignment-table(gm_ids="" togostanza-about-link-placement="none" style="display:none; min-height:600px")

block scripts
  script(src=`${pathToJS}compare.js`)
