extends _template/_base

block vars
  - lev1ID = "gms_by_clstid";

block stanza
  script(src=`${pathToLibs}gms_by_clstid.js`)

block main
  input(type="text" value="26_200" data-param-key="clst_id")
  p.output
  .showcase_box
    <togostanza-gms_by_clstid clst_id="26_200"></togostanza-gms_by_clstid>
