extends _template/_base

block vars
  - lev1ID = "gms_by_tid";

block stanza
  script(src=`${pathToLibs}gms_by_tid.js`)

block main
  #contents
    input(type="text" value="T04525,T00311" data-param-key="t_id")
    .showcase_box
      <togostanza-gms_by_tid t_id="T04525,T00311"></togostanza-gms_by_tid>
