extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_medium_by_gmid", "gmdb_organisms_by_gmid"]

block main
  h2 Medium Information
  togostanza-gmdb_medium_by_gmid#info(gm_id="")
  h2 Related Organisms
  togostanza-gmdb_organisms_by_gmid#organisms(gm_id="")

block scripts
  script(src=`${pathToJS}media.js`)
