extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["medium_by_gmid", "organisms_by_gmid"]

block main
  togostanza-medium_by_gmid#info(query="")
  togostanza-organisms_by_gmid#organisms(query="")

block scripts
  script(src=`${pathToJS}media.js`)
