extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb-medium-by-gmid", "gmdb-meta-list"]

block main
  div#all(style="display:none;")
    h2 All Media
    div.stanza-wrapper
      togostanza-gmdb-meta-list#list(api_url="", limit="20", title="", column_names="true", togostanza-about-link-placement="none")
  div#singleItem(style="display:none;")
    h2 Medium Information
    div.stanza-wrapper
      togostanza-gmdb-medium-by-gmid#info(gm_id="", togostanza-about-link-placement="none")
    div.stanza-wrapper
      togostanza-gmdb-meta-list#similar(api_url="", limit="10", title="", column_names="true", togostanza-about-link-placement="none")
    div.stanza-wrapper
      togostanza-gmdb-meta-list#organisms(api_url="", limit="10", title="", column_names="true", togostanza-about-link-placement="none")

block scripts
  script(src=`${pathToJS}media.js`)
