extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_roundtree"]
  - lev1ID = "alignment"

block main
  h2 Media alignment
  togostanza-gmdb_roundtree#info(newick="http://keggoc-rdf.dbcls.jp/tmp/phylo2.newick")



block scripts
  //script(src=`${pathToJS}organism.js`)
