extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_organism_by_taxid", "media_by_taxid"]

block main
  h2 Organism Infomation
  togostanza-gmdb_organism_by_taxid#info(query="")
  h2 Related Media
  togostanza-media_by_taxid#media(query="")


block scripts
  script(src=`${pathToJS}organism.js`)
