extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["organism_by_taxid", "media_by_taxid"]

block main
  togostanza-organism_by_taxid#info(query="")
  togostanza-media_by_taxid#media(query="")


block scripts
  script(src=`${pathToJS}organism.js`)
