extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_organism_by_taxid", "gmdb_phenotype_info", "gmdb_meta_list"]

block main
  h2 Organism Information
  togostanza-gmdb_organism_by_taxid#info(tax_id="")
  togostanza-gmdb_phenotype_info#phenotype
  div#media.stanza-wrapper

block scripts
  script(src=`${pathToJS}organism.js`)
