extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb_roundtree"]

block main
  h2 XXXXXX
  togostanza-gmdb_roundtree#info(newick="http://keggoc-rdf.dbcls.jp/tmp/phylo2.newick")



block scripts
  //script(src=`${pathToJS}organism.js`)
