extends _template/_base

block vars
  - lev = 1
  - lev1ID = "statistics"
  - stanzaIDs = ["gmdb-meta-list"]

block main
  div.stanza-wrapper
    togostanza-gmdb-meta-list(api_url="http://growthmedium.org/sparqlist/api/gmdb_stat_phylum_gm", limit="", title="The number of growth media per phylum", column_names="true")


block scripts
