extends _template/_base

block vars
  - lev = 1
  - stanzaIDs = ["gmdb-taxon-by-taxid"]

block main
  h2 Taxon Information
  div.stanza-wrapper
    togostanza-gmdb-taxon-by-taxid#info(tax_id="", togostanza-about-link-placement="none")



block scripts
  script(src=`${pathToJS}taxon.js`)
