extends _template/_base

block vars
  - lev = 1
  - lev1ID = "statistics"
  - stanzaIDs = ["gmdb_meta_list"]

block main
  p(style="font-size:24px; text-align:center; margin-top:54px;") Under Construction


block scripts
