extends _template/_base

block vars
  - stanzaIDs = ["media", "components", "organisms"]

block main
  input#queryInput(placeholder="search")
  togostanza-media#media(query="")
  togostanza-components#components(query="")
  togostanza-organisms#organisms(query="")


block scripts
  script(src=`${pathToJS}top.js`)
