extends _template/_base

block vars
  - lev1ID = "top";
  - stanzaIDs = ["gmdb-meta-list"]


block main
  div#freeSearch
    input#queryInput(placeholder="search")
    p.info#info
      | Try searching with any IDs and keyword you are come up with.<br>
      | Terms should be separated by "," if multiple queries are requested.<br>
      | e.g. Glucose, GMO_001010, 315405
    .stanza-wrapper#stanzaWrapper

  div
    table#rankTable



block scripts
  script(src=`${pathToJS}top.js`)
