<table>
  <thead>
    <tr>
      {{#each result.head}}
      <th colspan="{{cols}}" rowspan="{{rows}}">{{text}}</th>
      {{/each}}
    </tr>
    <tr>
      {{#each result.subHead}}
      <th>{{text}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
    {{#each result.body}}
      <td rowspan="{{rows}}">{{organism}}</td>
      {{#each gm}}
      <td>{{label}}</td>
      {{#each exist}}
      <td style="background-color: {{color}};"> </td>
      {{/each}}
    </tr><tr>
      {{/each}}
    {{/each}}
    </tr>
  </tbody>
</table>

