<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;600&display=swap');
</style>
<style>
  .wrapper {
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .id-list {
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 100%;
  }

  .id-list td {
    padding: 8px 8px;
    border-bottom: 1px solid #CCC;
  }

  .id-list tr:nth-child(2n){
    background-color: #f6f6f6;
  }

  .id-list span:first-child{
    /*width: 20%;*/
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .id-list span:last-child{

  }
  a {
    color: #6FA80C;
  }
</style>

{{#if error}}{{#if msg}}
  <p>{{msg}}</p>
{{/if}}{{/if}}

{{#unless error}}
  <div class="wrapper">
    {{#if result.items.length}}
      <table class="id-list">
        {{#each result.items}}
          <tr>
            <td class="id"><a href="/medium/{{gm_id}}">{{gm_id}}</a></td>
            <td class="label">{{label}}</td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
    {{#unless result.items.length}}
      <p class="msg">{{msg}}</p>
    {{/unless}}
  </div>
{{/unless}}

